* {
    font-family: Lora, serif;
    
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  body::-webkit-scrollbar {
    background: transparent;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

/* Header Styles Start*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    
}

nav a {
    text-decoration: none;
    color: black;
 }
h1 {
    font-size: 2rem;
    cursor: pointer;
    color: black;
    
}
nav img {
    width: 2rem;
    height: 2rem;
}

nav li {
    cursor: pointer;
}
ul {
    font-size: 1.25rem;
    display: none;
    min-width: 20rem;
    margin: 1rem;
    list-style: none;
}


@media screen and (min-width: 750px) {
    nav img {
        display: none;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

/* Header Styles End*/

/* Hero Styles Start*/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem 2rem 1.5rem;
}
.hero h2 {
  text-align: left;  
}
.headshot {
    width: 100%;
    height: 100%;
    
    animation: slideAnimationLeft 1s ease-in-out;
}
.hero-button-container button:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .hero {
        flex-direction: row;
        justify-content: space-around;
    }
    .hero h2 {
        text-align: center;
    }
 
    .headshot {
       object-fit: cover;
        width: 40%;
        height: 500px;
    }

    .hero-action-container{
      width: 50%;
    }
}

.hero-action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideAnimationRight 1s ease-in-out;
}
.hero-button-container {
    display: flex;
}

.hero button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    margin: 0.5rem;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    background: #3e4559;
    border: none;
}

@keyframes slideAnimationRight {
    0% {
      transform: translateX(5%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideAnimationLeft {
    0% {
      transform: translateX(-5%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

/* Header Styles End*/

/* Projects Styles Start */
.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr)
    
}

/* Projects Styles End */

/* NBA Styles Start*/

.nba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-image: linear-gradient(rgba(32,32,32, 0.6), rgba(32,32,32, 0.8)), url("../../assets/nba-screenshot.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 600px;
    flex-grow: 12;
    grid-column: 1 / span 8;
}

.nba span {
    font-style: italic;
    font-weight: bold;
    font-size: 1.75rem;
    padding-right: 0.5rem;
}
.nba p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: white;
}

.nba button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    margin: .75rem;
    padding: 1.25rem 4rem;
    border-radius: 50px;
    background: #3e4559;
    border: none;
}

.nba button:hover {
    cursor: pointer;
}

/* NBA Styles End */

/* Setlists Styles Start */
.setlists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-image: linear-gradient(rgba(32,32,32, 0.6), rgba(32,32,32, 0.8)), url("../../assets/setlists.png");
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-basis: 450px;
    grid-column: 9 / span 4;
}

.setlists p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: white;
    
}

.setlists button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    margin: .75rem;
    padding: 1.25rem 4rem;
    border-radius: 50px;
    background: #3e4559;
    border: none;
}
.setlists button:hover {
    cursor: pointer;
}

/* Setlists Styles End */

@media screen and (max-width: 1240px) {
    .nba {
        grid-column: 1 / span 6;
    }
    .setlists {
        grid-column: 7 / span 6;
    }
}

@media screen and (max-width: 800px) {
    .nba {
        grid-column: 1 / span 12;
    }
    .setlists {
        grid-column: 1 / span 12;
    }
}