* {
   
    --brown: #fdc1a0;
    --bg-dim: rgba(32,32,32, 0.65)
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--brown);
  }
  body::-webkit-scrollbar {
    display: none;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
button {
    font-size: 1rem;
    font-family: Lora, serif;
    font-weight: bold;
    color: white;
    margin: .75rem;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    background: #3e4559;
    border: none;
}

button:hover {
    cursor: pointer;
    background: #993c09;
}
/* Header Styles Start*/

.mobile-nav-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.mobile-nav-header h1 {
    font-size: 2rem;
    
    cursor: pointer;
    
}
.mobile-nav-header img {
    width: 2rem;
    height: 2rem;

}
.mobile-nav-header img:hover {
    cursor: pointer;

}
.mobile-nav-header a {
    color: black;
    text-decoration: none;
}
/* Header Styles End */

/* Nav Styles Start */

nav a {
    text-decoration: none;
    color: black;
 }

nav img {
    width: 2rem;
    height: 2rem;
}

nav .close-icon {
position: absolute;
top: 2rem;
right: 2rem;

}

nav li {
    cursor: pointer;
    margin: 1rem;
    color: white;
}
nav li:hover {
    color: #d96e34;
}
nav ul {
    display: none;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--brown);
    position: fixed;
    height: 100%;
    font-size: 2rem;
    list-style: none;
    top: 0;
    padding: 4rem 0;

}
@keyframes dissolveInFromTop {
    0% {
      transform: translateY(-5%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media screen and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    nav ul {
       display: flex;
       flex-direction: row;
       position: relative;
       height: auto;
       padding: 1rem 0;
       justify-content: space-around;
       width: 100%;
       background: none;
       font-size: 1.25rem;
    }

    nav ul li {
        padding: 0 1.5rem;
        color: black;
    }
    nav ul li:hover {
        color: var(--brown)
    }
    .hamburger-icon {
        display: none;
    }
    .close-icon {
        display: none;
    }
}
/* Nav Styles End */

/* Hero Styles Start*/
.hero {
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h2 {
  text-align: center;
  font-size: 4rem;
  width: 75%;
  margin: 2rem 0;
}

@media only screen and (max-width: 650px) {
    .hero h2 {
        font-size: 3rem;
    }
}

.hero-action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideAnimationRight 1s ease-in-out;
}

@keyframes slideAnimationRight {
    0% {
      transform: translateX(5%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideAnimationLeft {
    0% {
      transform: translateX(-5%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

/* Hero Styles End*/

/* Bio Styles Start */

.bio {
    width: 100%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio p:first-child:first-letter {
   color: #3e4559;
   font-size: 5rem;
   padding-right: 10px;
   float: left;
   line-height: 5rem;
}

.bio p {
    margin: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    max-width: 35rem;
}

@media only screen and (max-width: 650px) {
    .bio p {
        margin: 2rem 1rem;
    }
}
/* Bio Styles End */

/* Projects Styles Start */

.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.project-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / span 12;
}

.project-details {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
    color: white;
}
/* Projects Styles End */


/* City Explorer Styles Start */
.city-explorer {
    background-image: linear-gradient(var(--bg-dim), var(--bg-dim)), url("https://davepaulsanders.github.io/Dave-Sanders-Portfolio/assets/city-explorer.png")

}


/* City Explorer Styles End */

/* NBA Styles Start*/

.nba {
    background-image: linear-gradient(var(--bg-dim), var(--bg-dim)), url("https://davepaulsanders.github.io/Dave-Sanders-Portfolio/assets/nba-screenshot.png");

}

.nba span {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

/* NBA Styles End */

/* Setlists Styles Start */

.setlists {
    background-image: linear-gradient(var(--bg-dim), var(--bg-dim)), url("https://davepaulsanders.github.io/Dave-Sanders-Portfolio/assets/setlists.png");
}

/* Setlists Styles End */

/* Run Buddy Styles Start */

.run-buddy {
    background-image: linear-gradient(var(--bg-dim), var(--bg-dim)), url("https://davepaulsanders.github.io/Dave-Sanders-Portfolio/assets/runbuddy.png");
}

.horiseon {
    background-image: linear-gradient(var(--bg-dim), var(--bg-dim)), url("https://davepaulsanders.github.io/Dave-Sanders-Portfolio/assets/horiseon.png");
}
/* Run Buddy Styles End */
.technically {
    background-image: linear-gradient(var(--bg-dim), var(--bg-dim)), url("https://davepaulsanders.github.io/Dave-Sanders-Portfolio/assets/technically.png");
}
.grade-gatsby {
    background-image: linear-gradient(var(--bg-dim), var(--bg-dim)), url("https://davepaulsanders.github.io/Dave-Sanders-Portfolio/assets/grade-gatsby.png");
}


/* Media Queries for Projects */

/* Footer Style Start */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: 100px;
    font-size: 1rem;
    background: var(--brown);
    color: white;
}

footer > * {
   margin: 1rem;
   text-decoration: none;
}
/* Footer Style End */
